In [1]:
pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp38-cp38-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3
Note: you may need to restart the kernel to use updated packages.

In [1]:
class Gene(object):
    def __init__(self, course, teacher, time, auditorium):
        self.course = course
        self.teacher = teacher
        self.time = time
        self.auditorium = auditorium

In [63]:
class Chromosome(object):
    def __init__():

SyntaxError: unexpected EOF while parsing (<ipython-input-63-4d6efe79b9b4>, line 2)

In [ ]:
class Individual(object):

In [1]:
import psycopg2
import psycopg2.extras
import pandas as pd
import numpy as np

In [15]:
def GetTablePandas(table):
    cur = conn.cursor(cursor_factory=psycopg2.extras.RealDictCursor)
    cur.execute("SELECT * from "+table)

    data = cur.fetchall()
    if len(data)==0:
        return pd.DataFrame()
    
    colNames = data[0].keys()
    cur.close()
    return pd.DataFrame([[row[col] for col in colNames] for row in data], columns=colNames)

In [21]:
conn = psycopg2.connect(dbname="ScheduleDB", user="postgres", password="adiros", host="localhost", port=5432)

Audience = GetTablePandas("audience")
ClassGroup = GetTablePandas("classgroup")
Teacher = GetTablePandas("teacher")
#Curriculum = GetTablePandas("сurriculum")
Schedule = GetTablePandas("schedule")
ConvenientTimeGroup = GetTablePandas("convenienttimegroup")
ConvenientTimeTeacher = GetTablePandas("convenienttimeteacher")

conn.close()

Audience.head()

   idaudience audiencenumber  capacity audiencelocation hardwaresoftware
0           1     1                 20           ГЗ МАИ             None
1           2     2                 20           ГЗ МАИ             None
2           3     3                 20           ГЗ МАИ             None
3           4     4                 20           ГЗ МАИ             None
4           5     5                 20           ГЗ МАИ             None

In [18]:
Teacher.head()

,idteacher,teachername,teachersurname,teachermiddlename,email,convenientplace
0,1,T1,T1,T1,None,ГЗ МАИ
1,2,T2,T2,T2,None,ГЗ МАИ
2,3,T3,T3,T3,None,ГЗ МАИ
3,4,T4,T4,T4,None,ГЗ МАИ
4,5,T5,T5,T5,None,ГЗ МАИ